rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Safety Catch-all default deny
    match /{document=**} {
      allow read, write: if false;
    }

    match /users/{userId} {
      // Anyone signed in can read other user documents (needed for friends list and adding friends)
      allow read: if request.auth != null;
      
      // Only the user themselves can write/update their profile document
      allow write: if request.auth != null && request.auth.uid == userId;

      match /mailbox/{messageId} {
        // Users can read/write their own mailbox
        allow read, write: if request.auth != null && request.auth.uid == userId;

        // Any signed-in user can create a message in another user's mailbox (to send a chat or lobby invite!)
        allow create: if request.auth != null && request.resource.data.senderUid == request.auth.uid;
      }

      match /match_history/{matchId} {
        // Anyone signed in can read match history of other users for public profiles
        allow read: if request.auth != null;

        // Only the player themselves can write their match history documents
        allow write: if request.auth != null && request.auth.uid == userId;
      }
    }
  }
}
